<?xml version="1.0" encoding="UTF-8"?> 
<java version="1.6.0_16" class="java.beans.XMLDecoder"> 
 <object class="czsem.utils.Config"> 
  <void property="alephPath"> 
   <string>$aleph</string> 
  </void> 
  <void property="ilpProjestsPath"> 
   <string>$projects/ILP_serial_projects</string> 
  </void> 
  <void property="myClassPath"> 
   <string>$INSTALL_PATH/FuzzyILP.jar</string> 
  </void> 
  <void property="prologPath"> 
   <string>$prolog</string> 
  </void> 
  <void property="wekaJarPath"> 
   <string>$weka</string> 
  </void> 
 </object> 
</java> 
