<?xml version="1.0" encoding="UTF-8"?> 
<java version="1.6.0_16" class="java.beans.XMLDecoder"> 
 <object class="czsem.utils.Config"> 
  <void property="alephPath"> 
   <string>/home/dedek/aleph/aleph.pl</string> 
  </void> 
  <void property="ilpProjestsPath"> 
   <string>/home/dedek/ILP_serial_projects</string> 
  </void> 
  <void property="myClassPath"> 
   <string>/home/dedek/FuzzyILP_Classifier/FuzzyILP.jar</string> 
  </void> 
  <void property="prologPath"> 
   <string>/home/dedek/Yap-5.1.3/arch/yap</string> 
  </void> 
  <void property="wekaJarPath"> 
   <string>/home/dedek/weka-3-6-2/weka.jar</string> 
  </void> 
 </object> 
</java> 
